// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
$hero-font: 'Poppins', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
$brand-font: 'Comfortaa', 'cursive';

//Typography
h1,
h2,
h3 {
  font-family: $hero-font;
}
p,
a,
li,
i {
  font-family: sans-serif;
}
// Colors
$fire-red: #bf4949;
$primary: $fire-red;
// Navigation
#navbar-logo:hover {
  color: $fire-red;
}
#navMenu a:hover {
  background-color: #fff;
  color: #000;
}
#navMenu a:active {
  color: $fire-red;
}
// Home Page
.home-primary {
  height: 100vh;
}

.hero-title h1 {
  font-size: 5rem;
  text-transform: uppercase;
}
.hero-title h1 span {
  color: black;
}
.hero-title h2 {
  font-size: 1.5rem;
}

.hero-portrait {
  border-left-color: #e85555;
  border-left-style: groove;
  border-left-width: 20px;
  box-shadow: 13px 11px 10px #792020;
}

// About Page
.hero-background {
  background-image: url('../../static/assets/images/working.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #792020;
  background-blend-mode: screen;
}

.hero-background .column {
  background-color: rgba($color: black, $alpha: 0.7);
  border-radius: 5px;
}
// Projects Page
.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  /*   height: 420px; */
  width: 300px;
  margin: 20px;
  border-radius: 15px;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(5px);
}

.imgplaceholder {
  height: 150px;
  width: 300px;
  background-color: #792020;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // gap: 20px;
  padding: 1.5rem;
}

h1.title {
  color: #ddd;
}

.excerpt {
}

.tech-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.tech {
  color: #333;
}

.tech i {
  font-size: 1.5rem;
}

// Contact Page
.column.follow-me {
  border-left: 4px solid black;
}

//Footer
$footer-background-color: #222;
$footer-color: #888;
$footer-padding: 3rem 1.5rem 4rem;
